<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Create Spring Bean -->
	
	<!-- 
	<bean id="msgKo" class="kr.co.basicspring.di1.MessageKo"></bean>
	<bean id="msgEn" class="kr.co.basicspring.di1.MessageEn"></bean>
	 -->
	 
	<bean id="msgKo" class="kr.co.basicspring.di2.MessageKo2"></bean>
	<bean id="msgEn" class="kr.co.basicspring.di2.MessageEn2"></bean>

	<!-- more bean definitions go here -->
	
</beans>